@page "/Account/Register"

<PageTitle>Staff Registration</PageTitle>

<h1>Staff registration</h1>

<MudAlert Severity="Severity.Info">
    Staff accounts are created by an administrator from Staff Users.
</MudAlert>

<div class="mt-4">
    <MudButton Href="Account/Login" Variant="Variant.Outlined" Color="Color.Primary">Back to sign in</MudButton>
</div>
